# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/  

data/raw/
data/combined_messages.csv
data/extracted_entities.csv
data/structured_messages.csv

*.csv